.demo-slider {
  /* border-radius: 16px; */
  overflow: hidden;
}

.demo-material-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.demo-material-label {
  position: absolute;
  bottom: 20px;
  left: 20px;
  padding: 6px 12px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  border-radius: 8px;
  font-size: 14px;
}
.swiper .swiper-slide {
  transition: transform 0.4s ease, opacity 0.4s ease !important;
  transform: scale(0.8) !important;
  width: 65% !important;
  opacity: 0.5 !important;
  height: 100% !important;
}

.swiper .swiper-slide-active {
  transform: scale(1) !important;
  opacity: 1 !important;
}
.swiper {
  height: 100% !important;
}
@media (max-width:500px) {
  .swiper .swiper-slide {
    width: 75% !important;
  }
}
